body, header, .gridContainer{
  display: grid;
  
}

body{
  grid-template-rows: auto auto;
}

header{
  grid-template-columns: [logo]auto [nav]auto[endLine];
}

.hero{
  display: grid;
  grid-template-rows: auto auto ;
}

.hero .imageContainer{
  grid-row-start: 1;
}