.hero{
  border-top: var(--primary-border);
  border-bottom:var(--primary-border);
  background-position: bottom;
  background-image: url("../../images/Header2.jpg");
  background-size: cover;
  padding-bottom: 2rem;
}

.tagline{
  font-size: 3rem;
}

.hero .content{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto
}

.hero .imageContainer{
  padding: 3rem;
  min-width: 300px;
  max-width: 500px;
}
.hero img{
  border: var(--primary-border);
  border-radius: 50%;
}

