$primary-bg-color: #e6e5c5;
$primary-border-color: #c9bb9f;
$primary-text-color: #444;


$secondary-bg-color: rgb(255, 255, 221);
$secondary-text-color: #b3621c;

$footer-bg-color: #444;
$footer-text-color: #e6e5c5;

$primary-border: 5px solid $primary-border-color;
$secondary-border: 1px solid $primary-text-color;