.front-page-section{
  margin: 2rem 0;
  padding: 3rem;
 
  h2{
    font-size: 200%;
    text-align: center;
  }

  .image-container{
    width: 100%;
    display:flex;
  }
  
  .content-container{
    margin-top: 3rem;
  }

  @include md-up{ 
    padding: 0;
    margin: 0;
    .title-container{
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .content-container{
      padding-bottom: 2rem;
      width: 30rem;
      margin: 0 auto;
    }
  }
}