header{
  background-color: $secondary-bg-color;
  border-bottom: $primary-border;
  position:sticky;
  top:0;

  .logo{
    width: 200px;
    padding: 1rem;
    @include md-up{
      width: 300px;
    }
  }
}
