.bar1, .bar2, .bar3 {
  width: 21px;
  height: 1px;
  background-color: var(--secondary-text-color);
  margin: 6px 0;
  transition: 0.4s;
}

#primary-navigation-button {
  border-color: var(--secondary-text-color);
  background-color: rgba(0, 0, 0, 0.2);
  outline-color: var(--secondary-text-color);
  border: 2px solid;
  border-color: var(--secondary-text-color);
  border-radius: 3px;
  color: var(--secondary-text-color);
  width: 37px;
  margin: 1rem;
}

/**** Animation for the hamburger menu. ****/
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
  transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}