.hide-right{
  position: absolute;
  right: -60%;
  @include sm-up{
    position: inherit;
    right: inherit;
  }
}

.show-right{
  position: absolute;
  right: 0;
  @include sm-up{
    position: inherit;
    right: inherit;
  }
}

.hidden-mobile{
  display: none;
  @include sm-up{
    display: inherit;
  }
}